<!doctype html>
<html lang="en">

   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Page Info -->
      <title>..... | Chatbot Inc.</title>
      <meta name="author" content="Jerry Chen">
      <meta name="description" content="This is a product website">
      
      <link rel="stylesheet" type="text/css" href="css/styles.css">
   </head>
   <body>
      <img action="/home" class="logo" src="images/chatbot_inc_logo.png" alt="Chatbot Inc. Logo" class="logo">
      <p class="header1">CHATBOT INC.</p>
      <p class="subheader1">Giving you a virtual buddy since the 2019-2020 COVID-19 pandemic!</p>
      <div class="topnav-container">
         <div class="topnav">
            <a action="/home" class="wasactive" href="home">Home</a>
            <a action="/about" href="about">About Us</a>
            <a action="/product" href="product">Product Features</a>
            <a action="/pricing" href="pricing">Pricing</a>
            <a action="/register" href="register">Register</a>
            <a action="/login" href="login">Login</a>
            <a action="/admin" href="admin">Admin</a>
         </div>
      </div>

      {% if user %}
      <p> {{ user }} </p>
      {% endif %}


      
      <footer class = "foot"> <p>©2020 by Chatbot Inc. Proudly created with HTML and CSS.</p> </footer>
   </body>
</html>
